{"code":0, "data":
	{"appDetail" : $jsonUtil.fields('id,mainTitle,downUrl,packageName,versionName,versionValue,fileSize,uploadDate,publishDate,iconUrl,subTitle,firstCatId,secondCatId,info,updateInfo,screenshots,downloadNum,favNum,recommendNum,commentNum',$appInfoDO)}
}	