
<div class="container">
    <div class="content doc term">
        <h2>$!applicationUtil.websiteName()最终用户协议</h2>
        <p>2014 年 1 月</p>

        <ul>
            <li>
                <h3>条款</h3>
                <ul>
                    <li>本最终用户条款（以下或简称「条款」）系由您与$!applicationUtil.websiteName()有限公司（以下简称「$!applicationUtil.websiteName()」）所订立的相关权利义务规范，用以描述$!applicationUtil.websiteName()向您提供服务及您使用服务所涉及的详细规定。因此，请您于注册成为$!applicationUtil.websiteName()用户或开始使用$!applicationUtil.websiteName()提供服务（包括但不限于$!applicationUtil.websiteName() Android 版、$!applicationUtil.websiteName()应用搜索、$!applicationUtil.websiteName()开发者服务等）前，切实详细地阅读本条款的所有内容。</li>
                    <li>只要您完成注册或开始使用$!applicationUtil.websiteName()提供的任何服务，即表示您已无条件接受了本条款的相关规定及$!applicationUtil.websiteName()就此公布的各项管理规定，并愿意受其约束。如果发生纠纷，您应自行承担事实上未认真阅读本条款的责任，不得以未仔细阅读为由进行抗辩。</li>
                </ul>
                <h4 class="explanation">您使用$!applicationUtil.websiteName()就意味着您同意了左边的条款。</h4>
            </li>


            <li>
                <h3>管辖</h3>
                <ul>
                    <li>本条款的解释，效力及纠纷的解决，适用于中华人民共和国（不包括港澳台地区）法律。因使用$!applicationUtil.websiteName()服务产生的或与此相关的纠纷，$!applicationUtil.websiteName()及您均有权将其提交至北京仲裁委员会通过仲裁方式解决。仲裁结果具有终局性，对各方均有约束力。</li>
                </ul>
                <h4 class="explanation">而这些条款只适用于不包括港澳台地区的中华人民共和国法律。</h4>
            </li>

            <li>
                <h3>风险</h3>
                <ul>
                    <li>$!applicationUtil.websiteName()仅依「现状」及「现有」基础提供服务，而并未对自身服务的及时性、准确性进行任何形式的担保。</li>
                    <li>$!applicationUtil.websiteName()所提供的服务存在因包括不可抗力、计算机病毒或黑客攻击、系统不稳定、您所在位置、通信线路、$!applicationUtil.websiteName()自身运营调整、合作伙伴调整等因素造成的服务中断或不能满足您要求的风险。</li>
                    <li>$!applicationUtil.websiteName()可能随时变更、中断或终止部分或全部的服务且无需另行对您进行通知，请注意定期对您存放在$!applicationUtil.websiteName()网络服务上的数据进行备份，以避免损失。</li>
                    <li>如您欲使用$!applicationUtil.websiteName()提供的服务，须承担以上风险，$!applicationUtil.websiteName()对您或任何第三人由此遭受的损害均不承担赔偿责任。</li>
                </ul>
                <h4 class="explanation">虽然$!applicationUtil.websiteName()是一家朝气蓬勃前景光明的企业，但也难保不会出现不可抗力或者「不能说，你懂的」这样的意外，所以请您做好备份，以防万一。</h4>
            </li>

            <li>
                <h3>用户注册及安全</h3>
                <ul>
                    <li>您在$!applicationUtil.websiteName()进行注册时，须提供真实、有效的身份识别资料，并应在前述资料发生变更时，及时于$!applicationUtil.websiteName()网站进行线上更新。若您所提供的资料与事实不符或所提供的资料业已变更而未更新或有任何误导之嫌而导致$!applicationUtil.websiteName()无法为您提供或继续提供服务的，您应自行承担由此引发的损失而与$!applicationUtil.websiteName()无关。</li>
                    <li>您须了解和认可，$!applicationUtil.websiteName()账号的使用权仅归属于原始注册人。未经$!applicationUtil.websiteName()的事先书面同意，您不得以任何形式将自身$!applicationUtil.websiteName()账号及密码转让、赠予、出借、售卖予第三方或者以其他方式许可非初始注册人对其进行使用，否则$!applicationUtil.websiteName()有权封禁、删除该账号。如您并非当前所使用$!applicationUtil.websiteName()账号的原始注册人，您应立即停止对该账号的一切使用及操作，同时$!applicationUtil.websiteName()有权依原始注册人之请求或依自身判断将该账号重新交予原始注册人使用，由此引发的全部责任及损失与$!applicationUtil.websiteName()无关。</li>
                    <li>您有义务妥善保管在注册时获得的账号及密码，如因黑客、第三人行为或您自身保管疏忽导致账号、密码遭他人非法使用并给您造成损失的，$!applicationUtil.websiteName()就此不承担任何责任。</li>
                    <li>如您发现自身账号遭他人非法使用或有异常使用的情形，应立即通知$!applicationUtil.websiteName()，并提供与原始注册人相一致的个人有效身份信息。$!applicationUtil.websiteName()在核实您所提供的个人有效身份信息后，将尽可能为您维护自身合法权利提供必要协助，但$!applicationUtil.websiteName()并不承诺您一定能通过该途径找回$!applicationUtil.websiteName()账号。</li>
                </ul>
                <h4 class="explanation">请您在注册账号时提供真实信息。如果发现被坏人黑了或账号出问题，请尽快联系我们解决。保护好自己的账号和密码，它是您个人身份的一部分，不要转让或者卖掉。</h4>
            </li>

            <li>
                <h3>客户端软件</h3>
                <ul>
                    <li>您可以免费使用$!applicationUtil.websiteName()提供的客户端软件，但应保证自身使用行为的合法性、正当性，且不得对客户端进行反编译、反汇编、破解等行为。</li>
                    <li>为大多数用户的使用便利，$!applicationUtil.websiteName()会自动更新客户端软件。</li>
                    <li>$!applicationUtil.websiteName()的手机客户端在未经您许可的情况下不会使用 2G 和 3G 网络流量。如果您许可$!applicationUtil.websiteName()使用网络流量，产生的流量费用将由运营商收取，$!applicationUtil.websiteName()不会在其中得到收益。</li>
                </ul>
                <h4 class="explanation">您得合法使用$!applicationUtil.websiteName()提供的软件。而我们的手机客户端也不会做偷跑流量等坏事。要是您发现流量出问题，也请联系我们。</h4>
            </li>

            <li>
                <h3>个人数据和隐私保护</h3>
                <ul>
                    <li>如果您不使用$!applicationUtil.websiteName()网络服务，您的个人数据仅存放在您的电脑和手机中。</li>
                    <li>$!applicationUtil.websiteName()承诺将采取必要措施保护用户存放在$!applicationUtil.websiteName()网络服务上的个人数据及隐私信息的安全。</li>
                    <li>除本协议约定的除外情况，$!applicationUtil.websiteName()保证不对外公开或向第三方提供、公开或共享您的个人数据及隐私信息。</li>
                    <li>在以下情况下，$!applicationUtil.websiteName()对您个人数据及隐私信息的披露将不视为违约，具体包括：
                        <ul>
                            <li>$!applicationUtil.websiteName()已获得您的明确授权；</li>
                            <li>根据有关的法律法规要求，$!applicationUtil.websiteName()负有披露义务的；</li>
                            <li>司法机关或行政机关基于法定程序要求$!applicationUtil.websiteName()提供的；</li>
                            <li>为维护社会公共利益及$!applicationUtil.websiteName()合法权益，在合理范围内进行披露的。</li>
                            <li>$!applicationUtil.websiteName()可能会与第三方合作向用户提供相关的网络服务或使用其数据收集工具用以完善自身服务，在此情况下，如该第三方同意承担与$!applicationUtil.websiteName()同等的隐私保护责任的，则$!applicationUtil.websiteName()可在合理范围内对您的信息进行披露。</li>
                        </ul>
                    </li>
                    <li>在不披露您的个人数据及隐私的前提下，$!applicationUtil.websiteName()有权对$!applicationUtil.websiteName()整体用户数据信息进行技术分析，并对已进行分析、整理后的统计数据进行利用。</li>
                    <li>尽管$!applicationUtil.websiteName()已为用户的隐私权保护做了极大的努力，但是仍然不能保证现有的安全技术措施使您的个人数据及隐私等不受任何形式的损失。您对上述情况充分知情，且不会因此追究$!applicationUtil.websiteName()的法律责任。</li>
                </ul>
                <h4 class="explanation">隐私问题？如果您只使用$!applicationUtil.websiteName()的客户端，我们本来也不知道您的具体信息... 如果您使用照片同步、云备份等功能备份数据到$!applicationUtil.websiteName()服务器上，我们会尽全力保护，不会做坏事。</h4>
            </li>

            <li>
                <h3>您发布和上传的内容</h3>
                <ul>
                    <li>您须了解并认可，在您使用$!applicationUtil.websiteName()服务公开发表内容 (例如，评论、百宝袋扩展、Android 应用) 时，须遵守社会公序良德和相关法律法规，且不得发布和上传如下内容：
                        <ul>
                            <li>违反宪法确定的基本原则的</li>
                            <li>违反我国法律、法规及其它规定的</li>
                            <li>违背社会公序良俗，有损社会公共利益的</li>
                            <li>侵害第三方合法权益的文件或信息，包括但不限于病毒代码、黑客程序、软件破解注册信息等</li>
                            <li>未获合法授权的文章、图片、音乐、视频、应用等</li>
                            <li>广告内容或链接</li>
                            <li>违反$!applicationUtil.websiteName()信息发布政策或损害$!applicationUtil.websiteName()合法权益的</li>
                        </ul>
                    </li>
                    <li>$!applicationUtil.websiteName()有权对您发布和上传的内容进行审核，如$!applicationUtil.websiteName()根据自身独立判断认为您所发布、上传的内容包含前述情况的，有权直接删除相关内容，且无需另行通知您。您在此确认，$!applicationUtil.websiteName()的审核行为并不为其设置任何义务，也不能免除您的任何责任。</li>
                    <li>由于您发布上传的内容带来的法律纠纷或其它后果，需要由您自行承担。</li>
                    <li>您在使用$!applicationUtil.websiteName()过程中创作内容所包含的权利将依法归您自行所有。但您应了解，对于您通过$!applicationUtil.websiteName()服务发布、上传至可公开获取区域的任何内容，均视为您已同意授权$!applicationUtil.websiteName()获得相应内容在全世界范围内免费的、永久性的、不可撤销的、非独家的和完全再许可的权利和许可，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分），和/或将此等内容编入当前已知的或以后开发的其他任何形式的作品、媒体或技术中。</li>
                </ul>
                <h4 class="explanation">我们尊重版权，遵守法律，做良心企业。而且我们相信，您和我们一样遵纪守法，做好公民。</h4>
            </li>

            <li>
                <h3>内容及权利保护</h3>
                <ul>
                    <li>$!applicationUtil.websiteName()在此特别提请您注意：$!applicationUtil.websiteName()仅为用户提供上传空间服务及为用户提供应用程序的搜索服务，$!applicationUtil.websiteName()不会对上传的作品内容作任何形式的编辑修改，自身不永久存储、控制、编辑或修改被链接的第三方市场的信息内容或其表现形式。任何经由$!applicationUtil.websiteName()服务而发布、上传的文字、资讯、资料、音乐、照片、图形、视讯、信息或其它资料（以下简称「内容 」），无论系公开还是私下传送，均由内容提供者承担责任。如果您发现$!applicationUtil.websiteName()上展示的内容侵犯了您的合法权利，请根据本条款附件《知识产权保护声明》的相关规定，按指定格式向我们发送权利通知，我们会按照法律规定做出相应处理。</li>
                    <li>您应确认并了解，尽管$!applicationUtil.websiteName()将一直致力于为您提供更好的应用内容，但$!applicationUtil.websiteName()作为信息网络服务提供商，其自身并无能力对第三方自行上传或存放于第三方服务器上的内容负责，故其无法保证这些内容的准确性、合法性及适用性。</li>
                    <li>$!applicationUtil.websiteName()中一些特别有风险的功能，我们会额外请您确认。如果您点选确认或实际使用相应功能的，将视为您已了解并愿意承担相应风险。如您由此遭受实际损失的，须自行承担有关损失。</li>
                </ul>
                <h4 class="explanation">其他用户上传的内容，要是您发现其中有问题，请仔细看左边的原文，和我们联系。</h4>
            </li>

            <li>
                <h3>知识产权</h3>
                <ul>
                    <li>$!applicationUtil.websiteName()自身所提供服务的相关著作权、专利权、商标、商业秘密及其它任何所有权或权利（包括但不限于$!applicationUtil.websiteName()客户端软件、我们对应用的排序等），均由$!applicationUtil.websiteName()独占性所有。非经$!applicationUtil.websiteName()的同意，您不得将其用于$!applicationUtil.websiteName()书面许可外用途（包括但不限于用于违法活动，或进行反向工程等）。</li>
                    <!-- <li>具体可参见<a href="/intellectual_property">《$!applicationUtil.websiteName()知识产权保护声明》</a>。</li>  -->
                </ul>
                <h4 class="explanation">我们尊重他人的权益，也请您尊重我们的合法权益。</h4>
            </li>


            <li>
                <h3>使用规则</h3>
                <ul>
                    <li>您应就自身使用$!applicationUtil.websiteName()服务的行为负责，并保证在使用$!applicationUtil.websiteName()服务的过程中遵循以下原则：
                        <ul>
                            <li>遵守中国有关的法律和法规；</li>
                            <li>遵守本条款及$!applicationUtil.websiteName()发布的相关管理规定；</li>
                            <li>不得以任何形式侵犯第三方及$!applicationUtil.websiteName()的合法利益；</li>
                            <li>不得将$!applicationUtil.websiteName()提供的服务用于任何非法或侵权活动，包括但不限于将其用于展示、传播包含色情、种族主义、低级趣味、淫秽、诽谤中伤、污辱性质的资料，以及传播任何针对宗教、民族传统、人种、性别、年龄的各种仇恨、歧视和偏见的内容。</li>
                        </ul>
                    </li>
                    <li>$!applicationUtil.websiteName()有权对您使用服务的情况进行审查和监督，如$!applicationUtil.websiteName()根据自身独立判断认为您存在违法或违约行为的，有权要求您纠正相应行为，并采取一切必要的措施（包括但不限于更改或删除您发布或上传的内容、暂停或终止您使用$!applicationUtil.websiteName()服务的权利等）以减轻您行为造成的影响。但您确认，$!applicationUtil.websiteName()的审查行为并不为其设置任何责任，也不免除您的任何义务。</li>
                </ul>
                <h4 class="explanation">所以您在使用$!applicationUtil.websiteName()时需要遵守法律法规，我们也会做到我们该做的。</h4>
            </li>

            <li>
                <h3>滥用</h3>
                <ul>
                    <li>如果$!applicationUtil.websiteName()根据自身独立判断认为您对$!applicationUtil.websiteName()的使用超出了合理范围，我们有权对您就$!applicationUtil.websiteName()服务的使用进行限制，您应自行承担由此引发的责任及损失。</li>
                </ul>
                <h4 class="explanation">而超越了限度的事情，我们会进行处理。</h4>
            </li>

            <li>
                <h3>数据解放</h3>
                <ul>
                    <li>您可以随时退出$!applicationUtil.websiteName()网络服务，并删除保存在$!applicationUtil.websiteName()网络服务上的对应数据。保存在您电脑上的数据，请您自行管理。</li>
                    <li>您可以随时导出在$!applicationUtil.websiteName()存放的数据并离开，我们不会阻止您。</li>
                </ul>
                <h4 class="explanation">您想把保存在$!applicationUtil.websiteName()服务器上的信息删除或导出时，不用有任何顾虑。</h4>
            </li>

            <li>
                <h3>变更</h3>
                <ul>
                    <li>$!applicationUtil.websiteName()有权随时修改本条款及相关管理规定，一旦相应内容发生变动，$!applicationUtil.websiteName()将提前 14 天在网站内进行公示，而不再进行个别通知。该公布行为视为$!applicationUtil.websiteName()已经向您通知修改内容。</li>
                    <li>如果您不同意$!applicationUtil.websiteName()进行的修改，有权停止使用$!applicationUtil.websiteName()所提供服务。但如果您继续使用$!applicationUtil.websiteName()所提供服务的，则视为您已接受并愿意遵守$!applicationUtil.websiteName()所做的修改。</li>
                </ul>
                <h4 class="explanation">左边的话如果变了，我们会公示出来。</h4>
            </li>

            <li>
                <h3>赔偿责任</h3>
                <ul>
                    <li>如因$!applicationUtil.websiteName()违反有关法律、法规或本条款项下的任何规定而给您造成实际损失的，$!applicationUtil.websiteName()承诺赔偿您由此遭受的全部直接经济损失，但$!applicationUtil.websiteName()不应承担任何间接、附带、特别、衍生性或惩罚性赔偿责任。</li>
                    <li>如因您的行为导致$!applicationUtil.websiteName()遭受任何损失的（包括但不限于行政处罚、第三方赔偿、诉讼费、律师费、商誉损失及其他费用支出等），您应承担全部赔偿责任。</li>
                </ul>
                <h4 class="explanation">最糟的事情真的发生了？请看左边。</h4>
            </li>

            <li>
                <h3>个别条款的效力</h3>
                <ul>
                    <li>如依据我国法律法规的相关规定，本条款内任何规定被判定为部分或全部无效时，不影响其它规定的效力。</li>
                </ul>
            </li>

        </ul>

    </div>
</div>