<div class="a-header">
        <div class="a-header-inner">
            <h1 class="a-logo"><a href="$baseModule.setTarget('index')" class="pngfix">$!applicationUtil.websiteName()</a></h1>
        </div>
      </div>