 <div class="pmt-header">
        <div class="pmt-container">
            <h1 class="logo" logo="">
            	<a class="logo-text" href="$adminModule.setTarget('index')"></a>
            	<span>开发者中心</span>
            </h1>
            <div class="pmt-account-field ng-isolate-scope">
            	<img class="pmt-account-avatar" src="$staticServer/images/default_img.jpg"">
            	<div class="pmt-account-info">
            		<span class="pmt-account-nickname ng-binding">$loginUserDO.userName</span>
            		<span class="pmt-account-email ng-binding">$applicationUtil.roleName($loginUserDO.roleId)</span>
            	</div>
            	<ul class="account-dropdown-menu hide">
            		<li><a href="$adminModule.setTarget('updatePsw')">修改密码</a></li>
            		<li><a href="$adminModule.setTarget('quit')" onclick="return confirm('确认要退出登录？');" >退出登录</a></li>
            	</ul>
            </div>
            <!-- TODO: conf mainnav, subnav via attrs -->
            <div class="pmt-nav" ng-show="isShowTopNav" topnav="">
            	<ul class="main-nav">
            		<li><a href="$adminModule.setTarget('index')" #if("$tab" == "0") class="nav-item current" #else class="nav-item" #end target="">首页</a></li>
            		<li><a href="$adminModule.setTarget('myAppList')"  #if("$tab" == "1") class="nav-item current" #else class="nav-item" #end target="">我的应用</a></li>
            	</ul>
            	<ul class="sub-nav">
            		<li><a onclick="return alert('联系管理员，电话：$!applicationUtil.phone()');" class="nav-item">帮助中心</a></li>
            	</ul>
            </div>
        </div>
    </div>