
 $widget.setTemplate("userHeader").addToContext("tab",'0')


<div class="pmt-main-section pmt-container ng-scope" ng-view=""><div class="pmt-step-progress-bar ng-scope ng-isolate-scope step-1" step-bar="" steps="['上传安装包', '填写应用信息','提交审核', '应用上架']" stepnum="$root.stepnum" ng-show="$root.vm.isShowStepBar"><div class="step-status status-1"><p class="step-status-title">上传安装包</p><i class="step-status-icon"></i></div><div class="step-status status-2"><p class="step-status-title">填写应用信息</p><i class="step-status-icon"></i></div><div class="step-status status-3"><p class="step-status-title">提交审核</p><i class="step-status-icon"></i></div><div class="step-status status-4"><p class="step-status-title">应用上架</p><i class="step-status-icon"></i></div><div class="step-solid-line"><div class="step-success-line"></div></div></div>

<div class="slide-reveal up-step pmt-step ng-scope">
    <!-- SHOW @UPLOAD UPLOAD BOX -->
 <form name="fom" id="fom" method="post" action="doAddAppFirst.htm" enctype="multipart/form-data">
	<input type="hidden" name="fatherAppId" value="$!fatherAppId" />
        <div class="step-header">
            <h1 class="pmt-text-success pmt-section-title">上传安装包</h1>
			 #errorMessage($!resultmessage.message)
        </div>
        <div class="step-body" pmt-upload-drop-zone="" data-endpoint="app.firstapk">
            <div class="up-apppkg-dragupload pmt-container">
                <!-- <span class="pmt-form-help-inline">拖拽 .apk 文件到这里，或者</span>
                <button pmt-upload-button="" data-endpoint="app.firstapk" class="w-btn w-btn-primary pmt-upload-btn" style="position: relative; overflow: hidden; direction: ltr;">上传 apk -->
				<input type="file" name="uploadFile" style="line-height: normal;" id='upload'><!-- </button> -->
				<input type="submit" value="上传apk" />
                <span class="w-text-warning ng-binding">
                </span>
            </div>
        </div>
    </form>
</div>
</div>

	 $widget.setTemplate("userFoot")
