$widget.setTemplate("adminHeader").addToContext("tab",'2')
	
 #set($form = $formFactory.getForm('banner.edit'))
 <div class="pmt-main-section pmt-container ng-scope" ng-view="">
    <form action="doEditBanner.htm"  enctype="multipart/form-data"  method="post">
        <input type="hidden" name="id" value="$!bannerDO.id" />
        <div style="padding:20px;">
    		#errorMessage($!resultmessage.message) <br/>
    		#set($name = $form.name.value)
    		#if(!$name)
    			#set($name = $!bannerDO.name)
    		#end	
            $form.name.label：<input type="text" name="$form.name.name" value="$!name">* #errorMessage($!form.name.message) <br/><br/><br/>
            图标：<input type="file" name="imageUrl">
    		#if($bannerDO.imageUrl)
    			<img src="$!bannerDO.imageUrl" width="150px"/>
    		#end	 <br/>
    		#set($sortValue = $form.sortValue.value)
    		#if(!$sortValue)
    			#set($sortValue = $!bannerDO.sortValue)
    		#end
            $form.sortValue.label：<input type="text" name="$form.sortValue.name" value="$!sortValue">* #errorMessage($!form.sortValue.message) <br/><br/><br/>
    			
            <input type="submit" value="提交"/>
            	
        </div>
    </form>
</div>
	
    $widget.setTemplate("userFoot")
	
	