{"code":0, "data":
{
	#if($bannerList)
			"bannerList" : $jsonUtil.mfields('id,name,imageUrl',$bannerList) ,
	#end
	"appList" : $jsonUtil.mfields('id,mainTitle,subTitle,downUrl,fileSize,iconUrl,packageName,info,updateInfo',$appList) 
}}