
$widget.setTemplate("adminHeader").addToContext("tab",'4').addToContext('loginUserDO', $!loginUserDO)


<form name="fom1" action="updateRecommendAppList.htm">
	<input type="hidden" name="type" value="$!type" />
    <div class="pmt-container ng-scope" ng-view="">
        <div class="myapp-list pmt-white-box ng-scope">
			
			<div class="home-todo-list pmt-white-box" ng-show="appList.length">
				#set($optTypeValue = "")
				#if($type == 1) #set($optTypeValue = "游戏精选")  #end
    			#if($type == 2) #set($optTypeValue = "精品推荐") #end
                <div class="white-box-title">
                    <p>
    					管理- $optTypeValue
                    </p>
				</div> 
			</div>
			
			
            <div app-list="" data="appList" class="ng-isolate-scope">
           	    <ul class="pmt-app-list ng-animate-fadedown" ng-show="appList.length">
    				 #foreach($appInfoDO in $appInfoList)
						 <input type="checkbox" style="display:none;"  name="currentAllAppIds" value="$appInfoDO.id" checked />
    					<li class="pmt-app-list-item pmt-white-box ng-scope GENERAL_PUBLISHED" ng-repeat="appItem in appList" ng-class="appItem.status.type">
                            <div class="white-box-content">
                                <div class="app-info">
									 <input type="checkbox" name="checkedAppIds" value="$!appInfoDO.id" #if($appInfoDO.isRecommendApp())  checked  #end />是否$optTypeValue
									<div class="app-icon">
                                       #if($appInfoDO.iconUrl)
										<img  src="$appInfoDO.iconUrl">
									#else
										<img  src="http://img.wdjimg.com/pmt/add-image.png">
									#end
                                    </div>
                                    <div class="app-desc">
                                        <p class="app-title ng-binding"><a target="_blank" href="$adminModule.setTarget('viewAppUpdateInfo').param('appId',$!appInfoDO.id)">$!appInfoDO.mainTitle</a></p>
                                        <p class="app-meta">
                                            <!-- ngIf: appItem.versionName -->
                                            <span class="app-version ng-scope ng-binding">$applicationUtil.showSizeM($!appInfoDO.fileSize) M&nbsp;版本&nbsp;$appInfoDO.versionName<br></span>
                                            <!-- end ngIf: appItem.versionName -->
                                            <span class="app-date ng-binding">$dateUtil.format($!appInfoDO.gmtModified, 'yyyy-MM-dd')&nbsp;更新</span>
                                        </p>
                                        <span class="app-status ng-binding success">$applicationUtil.showAPPStatus($appInfoDO.status)</span>
                                    </div>
                                </div>
                                <div class="app-ctrl">
                                    <!--
    								 <button class="w-btn w-btn-large"  ng-show="appItem.isShowPACKAGE">礼包管理</button>
                                    <button class="w-btn w-btn-large"  ng-show="appItem.ownership">数据统计</button>
    								 <a class="w-text-primary ng-scope" target="_blank" href="http://www.wandoujia.com/apps/com.linkshop.client.uxiang">详情页</a>
    								-->
    								 <a class="w-text-primary ng-scope" target="_blank" href="#">&nbsp;</a>
                                </div>
                            </div>
                        </li>
                       #end
                   
                </ul>
            </div>
			<input type="hidden" name="currentAllAppIds" value="" />
			<input type="submit" style="float:right;margin:30px;" class="w-btn w-btn-large btn-edit w-btn-primary" value="确认修改"/> 
        </div>
    </div>
	
	</form>
    $widget.setTemplate("userFoot")
	
	<script language="javascript">
		function updateApp(appId) {
			var urlPrefix = "$adminModule.setTarget('viewAppUpdateInfo')";
			var url = urlPrefix + "?appId=" + appId;
			window.location.href= url;
		}
    </script>
	